<!-- 
    user settings
    name
 -->

<nav>
    <div class="left">
        <img src="./assets/logo/Enwys_in_E&MS_weiß.svg">
    </div>

    <div class="right">
        <span class="profile" (click)="this.toggleProfile()">
            <img src="https://picsum.photos/300/300">
            <p>{{ session.username }}</p>
        </span>

        <div [ngClass]="{profileSettings: true, disabled: !this.navProfileSettings}">
            <div class="header">
                <img src="https://picsum.photos/300/300">
                <div class="text">
                    <h2>{{ session.username }}</h2>
                </div>
            </div>

            <a [href]="links.logout">
                <mat-icon>logout</mat-icon>
                Logout
            </a>
        </div>

        <span [ngClass]="{closeBanner: true, disabled: !this.navProfileSettings}" (click)="this.toggleProfile()">

        </span>
    </div>
</nav>