<div class="container">
    <div class="logo">
        <img src="/assets/logo/Enwys_in_E&MS_weiß.svg">
    </div>
    <div class="content">
        <div class="module">
            <app-login *ngIf="this.router.url.split('?')[0] == '/login'"></app-login>
            <app-logout *ngIf="this.router.url.split('?')[0] == '/logout'"></app-logout>
            <app-redirect *ngIf="this.router.url.split('?')[0] == '/redirect'"></app-redirect>
            <app-redirect *ngIf="this.router.url.split('?')[0] == '/redirect'"></app-redirect>
            <app-password-reset *ngIf="this.router.url.split('?')[0] == '/password-reset'"></app-password-reset>
        </div>
    </div>
</div>