<h3 *ngIf="!this.loggedIn">Login</h3>

<form [formGroup]="login" class="login" *ngIf="!this.loggedIn">
    <label>
        <p>Benutzername</p>
        <span>
            <input type="text" formControlName="username">
        </span>
        
    </label>
    
    <label>
        <p>Passwort</p>
        <span>
            <input [type]="this.loginPasswordVisibility ? 'text' : 'password'" id="loginPassword" formControlName="password">
            <i *ngIf="this.loginPasswordVisibility" class="material-symbols-outlined" (click)="this.passwordChangeType()">
                visibility
            </i>
            <i *ngIf="!this.loginPasswordVisibility" class="material-symbols-outlined" (click)="this.passwordChangeType()">
                visibility_off
            </i>
        </span>
        <a routerLink="/password-reset">Passwort Vergessen?</a>
    </label>

    <p class="error">{{ this.loginError }}</p>

    <div class="btn">
        <input type="submit" (click)="loginUser()" value="Login">
    </div>
</form>

<div class="direct" *ngIf="this.loggedIn">
    <h3>Angemeldet</h3>

    <button class="link" routerLink="/redirect">Weiter</button>

    <button class="logout" routerLink="/logout">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</div>