// top nav
nav.top {
    z-index: 255;
    width: 100%;
    height: 2rem;
    padding: .75rem 0;
    background-color: #313131;
    box-sizing: content-box;
    position: fixed;
    box-shadow: 0 0 1rem #212121AA;

    display: flex;
    flex-direction: row;

    .left {
        // padding-left: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        .nav-toggle {
            width: 3.5rem;
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            color: #FFF;

            .icon {
                cursor: pointer;
            }
        }

        img {
            height: 75%;
        }
    }

    .right {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-right: 6vw;
        width: fit-content;

        .profile {
            height: 100%;
            display: flex;
            align-items: center;
            gap: .75rem;

            cursor: pointer;

            img {
                border-radius: 100rem;
                height: 2rem;
                aspect-ratio: 1/1;
                object-fit: cover;
            }

            p {
                color: #fff;
                margin: 0;
            }
        }

        //profile popup
        .profileSettings {
            z-index: 255;
            background-color: #FFFFFF;
            position: absolute;
            top: 4rem;
            right: 6vw;
            padding: 1rem;
            width: 15rem;
            border-radius: .15rem;
            box-shadow: .15rem .15rem 4rem #21212120;

            display: flex;
            flex-direction: column;
            gap: 3rem;

            .header {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                img {
                    width: 3.5rem;
                    height: 3.5rem;
                    object-fit: cover;
                    border-radius: 100rem;
                }

                .text {
                    display: flex;
                    flex-direction: column;

                    height: 100%;

                    h2 {
                        font-size: 1.25rem;
                        font-weight: bold;
                        margin: 0;
                    }

                    p {
                        margin: 0;
                        font-style: italic;
                    }
                }
            }
        }
    }

    
}

// side nav
nav.side {
    transition: width ease-in-out 500ms;
    bottom: 0;
    position: fixed;
    width: 3.5rem;
    padding: 2rem .75rem;
    height: calc(100% - 2rem - .75rem - .75rem);
    background-color: #666666;
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
        outline: none;
        transition: color ease-in-out 100ms;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        color: #FFFFFF;
        text-decoration: none;
        justify-content: center;

        mat-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
        }

        p {
            transition: width ease 500ms,
                        opacity ease 500ms,
                        padding-left ease 500ms;
            margin: 0;
            width: 100%;
            height: 100%;
            display: flex;
            opacity: 0;
            width: 0%;
            align-items: center;
            padding-left: 0rem;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

        }
    }

    a.active {
        color: #ffffffAA;
    }

    a:focus-visible {
        color: #b6d3ff;
    }                                               
}

nav.side.open {
    width: 14.5rem;

    a {
        p {
            opacity: 1;
            width: 100%;
            padding-left: .5rem;
        }
    }
}

//
.closeBanner {
    z-index: 254;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #21212120;
}

.disabled {
    display: none !important;
}

// side nav 600px width
// top 300px width

// mobile
@media screen and (max-width: 600px) {
    nav.top {
        .left {
            .nav-toggle {
                display: none;
            }

            img {
                padding-left: 6vw;
            }
        }
    }
    nav.side {
        width: 100% !important;
        padding: 1rem 1rem 1.5rem 1rem;
        height: fit-content;
        flex-direction: row;
        justify-content: center;
        gap: 15vw;

        a {
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            mat-icon {
                font-size: 2rem;
                height: 2rem;
            }
    
            p {
                height: fit-content;
                font-size: .5rem;
                opacity: 1;
                width: fit-content !important;
                max-width: 3rem;
            }
        }
    }
}

@media screen and (max-width: 300px) {
    nav.top {
        .right {
            .profile {
                p {
                    display: none;
                }
            }
        }
    }
}