<nav class="top">
    <div class="left">
        <div class="nav-toggle">
            <mat-icon class="icon" (click)="this.toggleSideNav()">menu</mat-icon>
        </div>
        

        <img src="./assets/logo/Enwys_in_E&MS_weiß.svg">
    </div>

    <div class="right">
        <span class="profile" (click)="this.toggleProfile()">
            <img src="https://picsum.photos/300/300">
            <p>{{ session.username }}</p>
        </span>

        <div [ngClass]="{profileSettings: true, disabled: !this.navProfileSettings}">
            <div class="header">
                <img src="https://picsum.photos/300/300">
                <div class="text">
                    <h2>{{ session.username }}</h2>
                </div>
            </div>

            <a [href]="links.logout">
                <mat-icon>logout</mat-icon>
                Logout
            </a>
        </div>

        <span [ngClass]="{closeBanner: true, disabled: !this.navProfileSettings}" (click)="this.toggleProfile()"></span>
    </div>
</nav>

<nav class="side" [ngClass]="{side: true, open: this.sideNavOpen}">

    <a routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <p>Home</p>
    </a>

    <a routerLink="/event" routerLinkActive="active">
        <mat-icon>stadium</mat-icon>
        <p>Events</p>
    </a>

    <a routerLink="/material" routerLinkActive="active">
        <mat-icon>speaker</mat-icon>
        <p>Material</p>
    </a>

    <a routerLink="/customer" routerLinkActive="active">
        <mat-icon>groups</mat-icon>
        <p>Kunden</p>
    </a>

</nav>